<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProcessNavigtion (Angular v1.5)</title>
    <link rel="stylesheet" href="StatusNavigation/src/main/resources/status-navigation.css">
</head>
<body ng-app="App" ng-controller="TestCtrl as ctrl">
<!-- Injecting component -->
<mnd-process-navigation config="ctrl.navigation"></mnd-process-navigation>
<!-- Injecting component -->
<br/>
<!-- controlling status -->
<button ng-click="ctrl.navigation.next()">Forward</button>
<button ng-click="ctrl.navigation.previous()">Backward</button>
{{ctrl.config}}
<!-- controlling status -->

<!-- Scripts -->
<script src="../node_modules/angular/angular.min.js"></script>
<script src="App-1-5.js"></script>

<script src="StatusNavigation/src/main/javascript/ProcessNavigation.js"></script>
</body>
</html>
